.oxygen-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  padding: 0 1.5rem;
  color: #424242;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  user-select: none;
  border-radius: 2px;
  transition: all .3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .225);
}

.oxygen-button:hover {
  text-decoration: none;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, .225);
}

.oxygen-button.oxygen-button-main {
  overflow: hidden;
  position: relative;
  margin: auto;
  padding: 0;
  line-height: normal;
  border-radius: 50%;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .3);
  width: 56px;
  height: 56px;
  font-size: 28px;
  color: #fff;
  background-color: #008B95;
}

.oxygen-button.oxygen-button-main:hover {
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, .375);
  background-color: #149fa9;
}

.oxygen-button.oxygen-button-main i {
  display: inline-block;
  float: none;
  width: inherit;
  margin: 0;
  font-size: inherit;
  text-align: center;
  line-height: none;
  vertical-align: middle;
}